---
import { Image } from "astro:assets";
import appLogo from "../../../public/images/blue_logo.svg";

const lang = Astro.params.lang || "en";
---

<a href={`/${lang}`}>
  <Image
    src={appLogo}
    alt="SkySearch"
    class="rounded-lg overflow-hidden"
    width={50}
    height={2}
  />
</a>
