---
const lang = Astro.params.lang || "en";
---

<a href={`/${lang}`}>
  <svg
    width="200"
    height="40"
    viewBox="0 0 150 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <!-- Art, nature, beauty icons (leaf, brushstroke, lotus) -->
    <g>
      <!-- Text BTLE -->
      <text
        x="40"
        y="30"
        font-size="20"
        fill="rgb(29, 162, 103)"
        font-weight="bold">BTLE</text
      >
    </g>
  </svg>
</a>
